@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap");
h1, h2, h3 {
  font-family: "Great Vibes", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  font-size: 50px;
  background: linear-gradient(90deg, rgba(60, 19, 97, 0.697917) 28%, rgba(0, 15, 255, 0.714723) 48%, #f4f4fa 100%);
  color: white;
  font-family: "Great Vibes", cursive; }
  .jumbotron h1 {
    font-size: 80px; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar .navbar-brand {
  background: black;
  color: black; }

#novieface {
  border: solid 3px; }

#reservebutton {
  background-color: #4b0082; }

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637DD; }

.navbar {
  background-color: #4e0082; }

#bgcontainer {
  background-image: url(../img/bg.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 100%;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.transparent {
  background-color: rgba(0, 0, 0, 0.5);
  color: white; }
