@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  font-family: "Great Vibes", cursive; }

h1, h2, h3 {
  font-family: "Great Vibes", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background: blue;
  color: white;
  font-family: "Great Vibes", cursive; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar .navbar-brand {
  background: black;
  color: black; }

#novieface {
  border: solid 3px; }

#reservebutton {
  background-color: #4b0082; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}
