
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');
$body-font: 'Great Vibes', cursive; 


body {
    background-image: url("img\indyskyline.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
   }

h1, h2, h3 {
    font-family: $body-font;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(60,19,97,0.6979166666666667) 28%, rgba(0,15,255,0.7147233893557423) 48%, rgba(244,244,250,1) 100%);
    color: white;
    font-family: $body-font;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
.navbar-brand {
    background: black;
    color: black;
}
}
#novieface {
    border: solid 3px;
}
#reservebutton {
    background-color: #4b0082;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}