
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$body-font: 'Great Vibes', cursive; 


body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $body-font;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background: rgba(0,0,255,1);
    color: white;
    font-family: $body-font;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
.navbar-brand {
    background: black;
    color: black;
}
}
#novieface {
    border: solid 3px;
}
#reservebutton {
    background-color: #4b0082;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}