@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap");
body {
  background-image: url("imgindyskyline.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc; }

h1, h2, h3 {
  font-family: "Great Vibes", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  font-size: 50px;
  background: linear-gradient(90deg, rgba(60, 19, 97, 0.697917) 28%, rgba(0, 15, 255, 0.714723) 48%, #f4f4fa 100%);
  color: white;
  font-family: "Great Vibes", cursive; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar .navbar-brand {
  background: black;
  color: black; }

#novieface {
  border: solid 3px; }

#reservebutton {
  background-color: #4b0082; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637DD; }
